@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Michroma&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper-homePage{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#000;
    background-image: url(./img/Screenshot\ 2024-01-08\ 214407.png);
}
.container-homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-container{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.page-title{
    font-family: Audiowide;
    font-size: 140px;
    color: #fff;
    filter: drop-shadow(0px 0px 3px #fff);
}
.page-subtitle{
    font-family: Michroma;
    font-size: 28px;
    color: #C8C8C8;
    width: 50%;
    text-align: center;
    filter: drop-shadow(0px 0px 1px #C8C8C8);

}