@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
.menu-container{
    position: fixed;
    top: 10px;
    left: 20px;
    width: 315px;
    height: 310px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    transform: translateX(-110%);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 90;
    box-shadow: 3px 3px 5px black;
}
.container-burger:hover .menu-container{
    transform: none;
}
.menu-close-btn{
    position: fixed;
    top: 20px;
    left: 40px;
    background: transparent;
    border: none;
    z-index: 99;
}
.menu-open-btn{
    position: fixed;
    top: 20px;
    left: 40px;
    background: transparent;
    border: none;
}
.menu-items{
    padding-top: 20%;
}
.menu-item{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    font-family: Michroma;
    font-size: 27px;
    font-weight: 550;
    margin-bottom: 5px;
}
.menu-item img{
    width: auto;
    height: 55px;
}
.menu-item-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 300px;
    color: #000;
    font-weight: 200;
}
.menu-item-link p{
    width: 200px;
    height: 30px;
    text-align: left;
}