@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
.menu{
    position: fixed;
    top: 10px;
    left: 20px;
    width: 13vw;
    height: 19vh;
    display: flex;
    flex-direction: column;
    transition: 1s;
    transform: translateY(-110%);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}
.responsive_menu{
    transform: none;
}
.menu_close_btn{
    position: fixed;
    top: 20px;
    left: 30px;
}
.menu_open_btn{
    position: fixed;
    top: 20px;
    left: 30px;
}
.menu_items{
    padding-top: 20%;
}
.menu_item{
    display: flex;
    justify-content: space-around;
    font-family: Exo;
    color: #fff;
    font-size: 40px;
}
.menu_item p {
    width: 75%;
}
