.card_container{
    display: flex;
    flex-direction: column;
    padding: 40px 0px 0px 0px;
}
.card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.2);
    width: 370px;
    height: 100px;
    padding: 0px 0px 0px 10px;
}
.card_content h1{
    font-family: Michroma;
    font-size: 20px;
    color: #fff;
}
.card_content h3{
    font-family:  exo;
    font-size: 15px;
    color: #fff;
}
.cards{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}